parameters:
	ignoreErrors:
		-
			message: '#^Method Nowo\\TaskBoardBundle\\Doctrine\\TaskBoardMetadataListener\:\:remapUserAssociation\(\) has parameter \$metadata with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Doctrine/TaskBoardMetadataListener.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmBoardColumnRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/BoardColumn.php

		-
			message: '#^Method Nowo\\TaskBoardBundle\\Entity\\Task\:\:normalizeTags\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Entity/Task.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTaskRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/Task.php

		-
			message: '#^Parameter \$targetEntity of attribute class Doctrine\\ORM\\Mapping\\ManyToOne constructor expects class\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/Task.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Entity\\Task\:\:\$tags \(list\<string\>\) does not accept array\.$#'
			identifier: assign.propertyType
			count: 2
			path: src/Entity/Task.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTaskBoardRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskBoard.php

		-
			message: '#^Parameter \$targetEntity of attribute class Doctrine\\ORM\\Mapping\\ManyToOne constructor expects class\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskBoard.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTaskChangeHistoryRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskChangeHistory.php

		-
			message: '#^Parameter \$targetEntity of attribute class Doctrine\\ORM\\Mapping\\ManyToOne constructor expects class\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskChangeHistory.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTaskDependencyRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskDependency.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Entity\\TaskDependency\:\:\$createdAt is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/TaskDependency.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTaskDocumentRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskDocument.php

		-
			message: '#^Parameter \$targetEntity of attribute class Doctrine\\ORM\\Mapping\\ManyToOne constructor expects class\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskDocument.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTaskLinkRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskLink.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTaskMemberRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskMember.php

		-
			message: '#^Parameter \$targetEntity of attribute class Doctrine\\ORM\\Mapping\\ManyToOne constructor expects class\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskMember.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Entity\\TaskMember\:\:\$createdAt is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/TaskMember.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTaskTimeEntryRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskTimeEntry.php

		-
			message: '#^Parameter \$targetEntity of attribute class Doctrine\\ORM\\Mapping\\ManyToOne constructor expects class\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TaskTimeEntry.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTeamRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/Team.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Entity\\Team\:\:\$createdAt is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Team.php

		-
			message: '#^Parameter \$repositoryClass of attribute class Doctrine\\ORM\\Mapping\\Entity constructor expects class\-string\<Doctrine\\ORM\\EntityRepository\<T of object\>\>\|null, ''Nowo\\\\TaskBoardBundle\\\\Repository\\\\DoctrineOrmTeamMemberRepository'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TeamMember.php

		-
			message: '#^Parameter \$targetEntity of attribute class Doctrine\\ORM\\Mapping\\ManyToOne constructor expects class\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/TeamMember.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Entity\\TeamMember\:\:\$createdAt is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/TeamMember.php

		-
			message: '#^Class Nowo\\TagInputBundle\\Form\\TagType not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Form/TaskFormType.php

		-
			message: '#^Class Nowo\\TiptapEditorBundle\\Form\\TiptapEditorType not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Form/TaskFormType.php

		-
			message: '#^Parameter \#2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface\<Nowo\\TaskBoardBundle\\Dto\\TaskFormData\|null\>\:\:add\(\) expects class\-string\<Symfony\\Component\\Form\\FormTypeInterface\>\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/Form/TaskFormType.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Repository\\DoctrineOrmTaskLinkRepository\:\:\$entityManager is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Repository/DoctrineOrmTaskLinkRepository.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Repository\\DoctrineOrmTaskDependencyRepository\:\:\$entityManager is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Repository/DoctrineOrmTaskDependencyRepository.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Repository\\DoctrineOrmTaskDocumentRepository\:\:\$entityManager is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Repository/DoctrineOrmTaskDocumentRepository.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Repository\\DoctrineOrmTaskMemberRepository\:\:\$entityManager is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Repository/DoctrineOrmTaskMemberRepository.php

		-
			message: '#^Property Nowo\\TaskBoardBundle\\Repository\\DoctrineOrmTaskTimeEntryRepository\:\:\$entityManager is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Repository/DoctrineOrmTaskTimeEntryRepository.php

		-
			message: '#^Cannot call method modify\(\) on DateTimeImmutable\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Service/TaskGanttBuilder.php

		-
			message: '#^Method Nowo\\TaskBoardBundle\\Service\\TaskGanttBuilder\:\:resolveDateRange\(\) should return array\{DateTimeImmutable, DateTimeImmutable\} but returns array\{DateTimeImmutable, DateTimeImmutable\|false\}\.$#'
			identifier: return.type
			count: 1
			path: src/Service/TaskGanttBuilder.php

		-
			message: '#^Method Nowo\\TaskBoardBundle\\Tests\\Stub\\TestUser\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: tests/Stub/TestUser.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Nowo\\\\TaskBoardBundle\\\\ValueObject\\\\Uuid'' and Nowo\\TaskBoardBundle\\ValueObject\\Uuid will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/DomainEnumsAndUuidTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''assignee'' and ''assignee'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/DomainEnumsAndUuidTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''blocks'' and ''blocks'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/DomainEnumsAndUuidTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''merge_request'' and ''merge_request'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/DomainEnumsAndUuidTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''urgent'' and ''urgent'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/DomainEnumsAndUuidTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with DateTimeImmutable will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 4
			path: tests/Unit/Entity/EntityTest.php

		-
			message: '#^Cannot call method getNewValue\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Entity/EntityTest.php

		-
			message: '#^Cannot call method getOldValue\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Entity/EntityTest.php

		-
			message: '#^Cannot call method getUser\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Entity/EntityTest.php

		-
			message: '#^Parameter \#1 \$entry of method Nowo\\TaskBoardBundle\\Entity\\Task\:\:addChangeHistory\(\) expects Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory, Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Entity/EntityTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''nowo_task_board…'' and ''nowo_task_board…'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 3
			path: tests/Unit/Event/TaskBoardEventTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with DateTimeImmutable will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 3
			path: tests/Unit/Service/RemainingCoverageTest.php

		-
			message: '#^Cannot call method getNewValue\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Unit/Service/RemainingCoverageTest.php

		-
			message: '#^Cannot call method getOldValue\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Service/RemainingCoverageTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''NowoTaskBoardBundle'' and ''NowoTaskBoardBundle'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/TaskBoardBundleTest.php

		-
			message: '#^Cannot call method getChangeType\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/TaskChangeRecorderTest.php

		-
			message: '#^Cannot call method getContext\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/TaskChangeRecorderTest.php

		-
			message: '#^Cannot call method getNewValue\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Unit/TaskChangeRecorderTest.php

		-
			message: '#^Cannot call method getOldValue\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/TaskChangeRecorderTest.php

		-
			message: '#^Cannot call method getUser\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/TaskChangeRecorderTest.php

		-
			message: '#^Cannot call method getChangeType\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/TaskLinkAttacherTest.php

		-
			message: '#^Cannot call method getChangeType\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/TaskMemberAssignerTest.php

		-
			message: '#^Cannot call method getOldValue\(\) on Nowo\\TaskBoardBundle\\Entity\\TaskChangeHistory\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/TaskMemberAssignerTest.php
