<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include><directory>src</directory></include>
        <exclude>
            <directory>src/Resources</directory>
            <directory>src/Controller</directory>
            <directory>src/Repository</directory>
            <directory>src/Doctrine</directory>
            <directory>src/Form</directory>
            <file>src/Repository/TaskRepositoryInterface.php</file>
            <file>src/Repository/TaskBoardRepositoryInterface.php</file>
            <file>src/Repository/BoardColumnRepositoryInterface.php</file>
            <file>src/Repository/TeamRepositoryInterface.php</file>
            <file>src/Repository/TeamMemberRepositoryInterface.php</file>
            <file>src/Security/TaskBoardAccessCheckerInterface.php</file>
        </exclude>
    </source>
</phpunit>
